@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  color: white;
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  border-radius: 5px;
  position: relative;
  width: 600px;
  padding: 50px;
  background-color: black;
  color: white;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
}

.quote-author {
  height: auto;
  clear: both;
  padding: 20px 0px 20px;
  font-size: 1em;
  text-align: right;
}

.twitterButton {
  float: right;
}

.twitterButton:hover {
  color: black;
}